<!DOCTYPE html>
<html class="h-100" th:with="selectedTab='none'" xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:include="includes/basic :: header ('管理员登录')">
    <title></title>
</head>

<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            let forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        let pas = $("#password");
                        $(pas).val(hex_md5($(pas).val()));
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<body class="h-100">
<!--/*@thymesVar id="selectedTab" type="java.lang.String"*/-->
<nav th:replace="includes/basic :: nav-bar (${selectedTab})"></nav>

<div class="container-fluid h-100">
    <div class="col-4" style="position: relative;transform: translate(-50%, -50%);top: 40%;left: 50%;">
        <form method="post" class="needs-validation" th:action="@{/admin/login/handle}" novalidate>
            <h1 class="text-center">【管理员】账户登录</h1>
            <div class="form-group am-form-icon am-form-feedback">
                <label for="username">用户名</label>
                <input class="form-control" type="text" name="username" id="username" minLength="3" maxLength="18" pattern="[A-Za-z0-9_\-]+" placeholder="请输入用户名" required />
                <div class="invalid-feedback">有效的用户名应该由3-18位字母和数字组成</div>
            </div>
            <div class="form-group am-form-icon am-form-feedback">
                <label for="password">密码</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="请输入密码" minLength="3" maxLength="18" required />
                <div class="invalid-feedback">有效的密码长度应当介于3-18位</div>
            </div>
            <button type="submit" class="col-12 btn btn-primary mt-2" id="submit">登录</button>
        </form>
    </div>
</div>

<div th:replace="includes/basic :: footer"></div>

</body>
</html>