<!DOCTYPE html>
<html class="min-vh-100" th:with="selectedTab='none'" xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:include="includes/basic :: header ('优惠券管理')">
    <title></title>
</head>

<body class="min-vh-100">
<!--/*@thymesVar id="selectedTab" type="java.lang.String"*/-->
<nav th:replace="includes/basic :: nav-bar (${selectedTab})"></nav>

<div th:replace="includes/admin :: side-bar ('coupon', ~{:: '#masterContent'})">
    <div id="masterContent">
        <h1>优惠券编辑</h1>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#uploadNewModal">
            返回列表
        </button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#uploadNewModal">
            编辑兑换码
        </button>

        <form id="fileUploadForm" enctype="multipart/form-data">
            <div class="form-group">
                <label for="couponId">ID</label>
                <input value="1" type="text" disabled class="form-control" name="couponId" id="couponId" />
            </div>
            <div class="form-group">
                <label for="couponName">优惠券名称</label>
                <input value="100%满减优惠券" type="text" class="form-control" name="couponName" id="couponName" />
            </div>
            <div class="form-group">
                <label for="couponDescription">优惠券描述</label>
                <textarea class="form-control form-text" name="couponDescription" id="couponDescription" >测试优惠券</textarea>
            </div>
            <div class="form-group">
                <label for="couponRules">优惠券规则</label><a style="margin-left: 10px"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
            </svg></a>
                <textarea class="form-control form-text" name="couponRules" id="couponRules" >{ scope: direct, calc: multiply, rate: 0, allowMulti: false, allowMix: false }</textarea>
                <div class="bg-light"><ul>
                    <li>作用范围：直售订单</li>
                    <li>计算方式：乘法计算</li>
                    <li>乘法倍率：0</li>
                    <li>允许使用多张：否</li>
                    <li>允许混合使用：否</li>
                </ul></div>
            </div>
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#uploadNewModal">
                保存修改
            </button>
        </form>

    </div>
</div>

<div th:replace="includes/basic :: footer"></div>

</body>
</html>