<!DOCTYPE html>
<html class="h-100" th:with="selectedTab='none'" xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:include="includes/basic :: header (${title})">
    <title></title>
</head>

<body class="h-100">
<!--/*@thymesVar id="selectedTab" type="java.lang.String"*/-->
<nav th:replace="includes/basic :: nav-bar (${selectedTab})"></nav>

<div class="container-fluid vh-100">
    <div class="col-sm-8 text-center" style="position: relative;transform: translate(-50%, -50%);top: 40%;left: 50%;">
        <div th:class="'my-5 ' + ${resType}">[( ${resIconHtml} )]</div>
        <h1 style="font-size: 400%" th:class="'my-5 ' + ${resType}">[[ ${resStr} ]]</h1>
        <p class="mt-3" style="max-height: 60%;overflow: auto;">[[ ${resInfo} ]]</p>
        <p th:if="${shouldCountDown}"><span id="counter">3</span> 秒后将返回上一页...<a href="" th:href="${callBack}">立即返回</a></p>
    </div>
</div>
<script th:inline="javascript" th:if="${shouldCountDown}">
    var count = 3;
    $(document).ready(function () {
        window.setInterval(function () {
            if (count <= 0) {
                location.href = "[( ${callBack} )]";
            } else {
                count--;
                document.getElementById("counter").innerHTML = String(count);
            }
        }, 1000);
    });
</script>

<div th:replace="includes/basic :: footer"></div>

</body>
</html>