<!DOCTYPE html>
<html class="min-vh-100" th:with="selectedTab='none'" xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:include="includes/basic :: header ('登录')">
    <title></title>
</head>

<script th:inline="javascript">
    function getAll() {
        return $("input[name='item']").map(function () {
            return Number.parseInt($(this).val());
        }).get();
    }

    function getSelected() {
        return $("input[name='item']:checked").map(function () {
            return Number.parseInt($(this).val());
        }).get();
    }

    function judgeEmpty() {
        if (getAll().length === 0) {
            $("#noneLabel").show();
            $("#downHr").hide();
            $("#totalDiv").hide();
        }
    }

    function removeItem(id) {
        $.post(
            "[(@{/cart/set})]",
            {
                "item": id,
                "quantity": 0
            },
            function (data) {
                if (data === "OK") {
                    document.querySelector("#item-tab-" + id).outerHTML = "";
                    judgeEmpty();
                    selChange();
                }
            }
        );
    }

    function removeSel() {
        let sel = getSelected();
        // let all = getAll();
        for (let i = 0; i < sel.length; i++) {
            removeItem(sel[i]);
        }
    }

    function selChange() {
        let tot = 0.0;
        let sel = getSelected();
        for (let i = 0; i < sel.length; i++) {
            tot += Number.parseInt($("#item-price-" + sel[i]).html());
        }
        let all = getAll();
        document.querySelector("#sel_all").checked = sel.length === all.length;
        $("#totalPrice").html(tot);
        if (getSelected().length === 0) {
            $("#del").addClass("disabled");
            $("#sub").addClass("disabled");
        } else {
            $("#del").removeClass("disabled");
            $("#sub").removeClass("disabled");
        }
    }

    function selAll() {
        if (document.querySelector("#sel_all").checked) {
            let all = getAll();
            for (let i = 0; i < all.length; i++) {
                document.querySelector("#item-sel-" + all[i]).checked = true;
            }
        } else {
            let all = getAll();
            for (let i = 0; i < all.length; i++) {
                document.querySelector("#item-sel-" + all[i]).checked = false;
            }
        }
        selChange();
    }
</script>

<body class="min-vh-100">
<!--/*@thymesVar id="selectedTab" type="java.lang.String"*/-->
<nav th:replace="includes/basic :: nav-bar (${selectedTab})"></nav>

<div class="container-fluid col-8 offset-2 my-3 min-vh-100">
    <div class="row">
        <h1 class="col">购物车</h1>
    </div>
    <hr/>
    <form method="post" th:action="@{/order/confirm}">
        <div class="row col-12">
            <label id="noneLabel"
                   th:style="${'color:lightGray; font-size:300%; position: fixed;transform: translate(-50%, -50%);top: 50%;left: 50%;'} +  (${#lists.isEmpty(cartList)} ? '' : 'display: none;')">当前购物车内没有商品</label>
            <div th:each="cartEntry : ${cartList}" th:id="'item-tab-' + ${cartEntry.item.id}" class="btn btn-light row col-12 m-1">
                <div class="text-left row col-12">
                    <div class="col-1">
                        <label style="width: 14px; height: 14px; position: relative;transform: translate(-50%, -50%);top: 50%;left: 50%;"><input th:id="${'item-sel-'} + ${cartEntry.item.id}" class="form-check-input m-0" type="checkbox" onchange="selChange()" name='item' th:value="${cartEntry.item.id}" /></label>
                    </div>
                    <div class="col-6">
                        <img style="max-width: 50px; max-height: 50px" src="" th:src="${T(top.chorg.icommerce.TestStaticClass).getOkStr(session)}" alt="" />
                        <label><a target='_blank' th:href="@{${'/item?item='} + ${cartEntry.item.id}}">[[ ${cartEntry.item.name} ]]</a></label>
                    </div>
                    <div class="col-5 text-right">
                        <div class="col-12" style="position: relative; transform: translateY(-50%);top: 50%; right: 0">
                            <label class="text-danger">¥<label th:id="${'item-price-'} + ${cartEntry.item.id}">[[ ${T(String).format('%.2f', cartEntry.quantity * cartEntry.item.newPrice)} ]]</label></label><small class="ml-2">¥[[ ${T(String).format('%.2f', cartEntry.item.newPrice)} ]] * [[ ${cartEntry.quantity} ]]</small>
                            <button th:onclick='"removeItem(" + ${cartEntry.item.id} + ")"' type='button' class='btn btn-danger ml-3'>删除</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr id="downHr" th:style="(${cartList} ? 'display: none;' : '')"/>

        <div id="totalDiv" class="row col-12 justify-content-between" th:style="(${#lists.isEmpty(cartList)} ? 'display: none;' : '')">
            <hr class="col-12"/>
            <div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="sel_all" onclick="selAll()">
                    <label class="form-check-label" for='sel_all'>全选</label>
                </div>
            </div>
            <div>
                <label>总计：</label>
                <label class="text-danger">¥<label id="totalPrice">0.00</label></label>
                <button id="del" type="button" onclick="removeSel()" class="btn btn-danger disabled ml-3">删除</button>
                <button id="sub" type="submit" class="btn btn-success disabled ml-1">结算</button>
            </div>
        </div>
    </form>
</div>

<div th:replace="includes/basic :: footer"></div>

</body>
</html>